{% extends 'base.html' %}
{% load socialaccount %}


{% block content %}
<!--
If the user is authenticated then we do not have to log them in
-->
{% if user.is_authenticated %}
Don't see a group that fits you? <a href="groups/create">Create</a> a group instead!

<h4 class="my-3">Available Study Groups: </h4>
<!--
Displays all the groups that have been created
-->
{% for group in groups_list %}
    <div class="row mb-3 off-white px-3 pb-2 pt-3 rounded">
        <div class="col-md-9 col-sm-12">
        <div class="row">
            <strong>{{ group }}</strong>
        </div>
        <div class="row">
            <strong class="mr-1">Capacity: </strong> {{group.maxSize}}
        </div>
            <!--
            If user is part of group, display leave group button
            -->
        </div>
        <div class="col-md-3">
            {% if user.student in group.get_members %}
                <form action="{% url 'studygroups:leaveGroup' %}" method="post">
                    {% csrf_token %}
                    <!--
                    Hidden input that has the id of the group that it sends to the appropriate function
                    -->
                    <input type="hidden" name="Group" id="Group" value={{group.id}}>
                    <button type="submit" class="btn btn-primary mx-7" name="edit">Leave Group</button>
                </form>

            <!--
            If user is not part of group, display join group button
            -->
            {% else %}
                <form action="{% url 'studygroups:joinGroup' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="Group" id="Group" value={{group.id}}>
                    <button type="submit" class="btn btn-primary mx-7" name="edit">Join Group</button>
                </form>

            {% endif %}
        </div>
    </div>
{% endfor %}


<!--
If the user is not authenticated then we have to log them in
before we can store any of their information
-->
{% else %}
    <h2>Welcome to Study Buddy Finder!</h2>
    Click <a href="{% provider_login_url 'google' %}">here</a> to log in and access the site.
{% endif %}
{% endblock%}