:root {
    --primary: red;
    --secondary: blue;
    --tertiary: green;
    --text: pink;
}

.off-white {
    background-color: #eee;
}

h1 {
    color: var(--primary);
}

body {
    color: var(--text);
}

