:root {
    --primary: #AAA;
    --secondary: rgb(156, 196, 243);
    --text: #DDD;
}

body {
    background-color: #111;
}

.off-white {
    background-color: #444;
}

h1 {
    color: var(--primary);
}

a {
    color: var(--secondary);
}

body {
    color: var(--text);
}

