{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container my-4 py-2 grey align-center mx-auto">
        <h4>Create your group below!</h4>
        <!-- Check first to see if there is an error message that needs to be displayed, and display it  -->
        <p>{% if error_message %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ error_message }}</strong>
            </div>
            {% endif %}</p>

        <form action="{% url 'studygroups:generateGroup' %}" method="post">

            {% csrf_token %}
            <!--
             Label for the group's name
            -->
            <div class="form-group w-100 mb-3 off-white px-3 pb-3 pt-3 rounded">
                <label for="Name"> Name</label>
                <input type="text" class="form-control" name="Name" id="Name" placeholder="Enter name for group"
                       value="">
            </div>
            <!--
             Label for the group's size
            -->
            <div class="form-group w-100 mb-3 off-white px-3 pb-2 pt-3 rounded">
                <label for="Size">Size</label>
                <select id="Size" name="Size">
                    {% with '2 3 4 5 6 7 8 9' as sizeOptions %}
                        {% for size in sizeOptions.split %}
                            <option value={{ size }}>{{ size }}</option>
                        {% endfor %}
                    {% endwith %}
                </select>
            </div>

             <!--
             Label for the group's course
            -->
            <div class="form-group w-100 mb-3 off-white px-3 pb-3 pt-3 rounded">
                <label for="Class"> Course</label>
                <input type="text" class="form-control" name="Class" id="Class" placeholder="Enter the course associated with this study group with format [XXX 1234]"
                       value="">
            </div>

            <div class="row col-md-4">
                <input class="btn btn-primary mx-6" type="submit" value="Create Group">
            </div>

        </form>
    </div>
{% else %}
    <h4>Please login before creating a group!</h4>
{% endif %}
{% endblock %}
