{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="container my-4 py-2 grey align-center mx-auto">
    <h4>Create your schedule below!</h4>

    <p>With format: Class Name [XXX 1234]; Strength (1-5) [3] </p>
    <p>When marking strength, a <strong>1</strong> corresponds with <strong>needing help</strong>, i.e. you feel clueless and a <strong>5</strong> corresponds with <strong>being able to help others</strong>, i.e. you could become a TA next semester.</p>
    <!-- Check first to see if there is an error message that needs to be displayed, and display it  -->
    <p>{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>{% endif %}</p>

    <form action="{% url 'studentprofile:generateSchedule' %}" method="post">

        {% csrf_token %}
        <!-- Create as many text boxes as the user indicated classes they want -->
        {% for numbers in numC %}
        <div class="row my-4 mx-2 px-2 py-2" style="background: lightgray">
            <div class="container">
                <div class="row">
                    <label for="choice{{ forloop.counter }}">Class Name: </label>
                    <input type="text" name="class{{ forloop.counter }}" id="class{{ forloop.counter }}">
                </div>
                <div class="row">
                    <label for="choice{{ forloop.counter }}">Strength (1-5): </label>
                    <input type="text" name="strength{{ forloop.counter }}" id="strength{{ forloop.counter }}">
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="row my-4 mx-2 px-2 py-2" style="background: lightgray">
            <input type="submit" value="Generate Schedule">
        </div>

    </form>
</div>
{% else %}
        <h4>Please login before making your schedule!</h4>
{% endif %}
{% endblock %}
