{% extends 'base.html' %}

{% block studentprofile %}
    <h2 class="mb-3">Welcome {{user.student.name}}</h2>
    <h4>Profile Details</h4>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <strong>Name:</strong>
        </div>
        <div class="col-md-9">
            {{ user.student.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <strong>Year:</strong>
        </div>
        <div class="col-md-9 col-sm-12">
            {{ user.student.year }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <strong>Major:</strong>
        </div>
        <div class="col-md-9">
            {{ user.student.major }}
        </div>
    </div>
{% endblock%}
