{% extends 'base.html' %}

{% block studentprofile %}
    <h2 class="mb-3">Welcome {{user.student.name}}</h2>
    <div class="mb-2">
        <h4>Profile Details</h4>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <strong>Name:</strong>
            </div>
            <div class="col-md-9">
                {{ user.student.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <strong>Year:</strong>
            </div>
            <div class="col-md-9 col-sm-12">
                {{ user.student.year }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <strong>Major:</strong>
            </div>
            <div class="col-md-9">
                {{ user.student.major }}
            </div>
        </div>
        </div>

        <!-- Divider for Schedule-->
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <strong>Schedule:</strong>
            </div>

            <!-- br starts a new line -->
            <div class="col-md-3 col-sm-12">
                <br>
            </div>

            <!-- For every class, display class and strength-->
            {% for class in user.student.schedule.get_classes %}
            <div class="col-md-9">
                {{ class }}
                <strong>Str: </strong> {{ class.strength }}
            </div>
            {% endfor %}

        </div>
    </div>
    <a href="#">Edit</a>
{% endblock%}
